<%-include("./partials/header.ejs") -%>
<!--====== ABOUT PART START ======-->



 <!-- ======= About Section ======= -->
 <section style="margin-top: 7%;" id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>At CareerHubNG, we turn your career goals into reality.</h2>
            <p>
              CareerHub is a platform that connects jobseekers with roles that ﬁt their skill sets. We believe you
              can get high paying quality jobs as long as you have proﬁtable skills. We are big on digital and tech
              positions as the world is already a global market.              </p>
            <div class="text-center text-lg-start">
              <a href="/contact" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Values</h2>
        <p>Our Core Values at CareerHubNG</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/values-1.png" class="img-fluid" alt="">
            <h3>Continuous Learning</h3>
            <p>We challenge the “we've always done it this way” mentality that may strangle change or development</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/values-2.png" class="img-fluid" alt="">
            <h3>On Time Delivery</h3>
            <p>We deliver services within the period promised clients and customers without compromising on quality</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Reputable Brand</h3>
            <p> We maintain high standards and offer quality services always. You can always count on us!
              
              </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->


<!--====== ABOUT PART ENDS ======-->
<%-include("./partials/footer.ejs") -%>