<%-include("./partials/header.ejs") -%>

<link href="assets/css/error.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css" />
<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>OOPS</h1>
			</div>
			<h2>Looks like something went wrong. Give it another whirl?</h2>
			<a href="/home" class="home-btn">Go Home</a>
			<a href="/contact" class="contact-btn">Try again!</a>
			<div class="notfound-social">
				<a href="mailto:careerhubngr@gmail.com" class="google"><i class="bi bi-google"></i></a>
				<a href="https://docs.google.com/forms/d/174ewaqbOIfrosug1X_Kp6_HBtR-LPSxgwFqdJTioAlI/edit?pli=1&edit_requested=true&pli=1" class="telegram"><i class="bi bi-telegram"></i></a>
				<a href="https://instagram.com/careerhubng?utm_medium=copy_link" class="instagram"><i class="bi bi-instagram"></i></a>
				<a href="https://www.linkedin.com/company/careerhubng" class="linkedin"><i class="bi bi-linkedin"></i></a>
			</div>
		</div>
	</div>

</body>


<%-include("./partials/footer.ejs") -%>