<%-include("./partials/header.ejs") -%>
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">




  <!-- ======= Hero Section ======= -->
 <!-- ======= Hero Section ======= -->
 <section style="margin-top: 1%;"id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>CareerHubNG</span></h2>
              <p class="animate__animated animate__fadeInUp">At CareerHub, we provide employability training
                to new graduates, advice to new and long-term
                Employability Training
                professionals on career through our career chat
                platform.</p>
              <a href="/services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Learn More</a>
              <a href="/about" class="btn-get-started disso scrollto animate__animated animate__fadeInUp">About Us</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">With CareerHubNG,</h2>
              <p class="animate__animated animate__fadeInUp">You can be sure to get high paying quality jobs as long as you have proﬁtable skills. We are big on digital and tech
                positions as the world is already a global market.</p>
              <a href="/services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Learn More</a>
              <a href="/about" class="btn-get-started disso scrollto animate__animated animate__fadeInUp">About Us</a>

            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">We're here for you.</h2>
              <p class="animate__animated animate__fadeInUp">We're keen on simplifying your job search through our services including CV review, career chat and our applications from random jobseekers that will not
                monthly employability training.</p>
              <a href="/services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Contact Us</a>
              <a href="/about" class="btn-get-started disso scrollto animate__animated animate__fadeInUp">About Us</a>

            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>At CareerHubNG, we turn your career goals into reality.</h2>
              <p>
                CareerHub is a platform that connects jobseekers with roles that ﬁt their skill sets. We believe you
                can get high paying quality jobs as long as you have proﬁtable skills. We are big on digital and tech
                positions as the world is already a global market.              </p>
              <div class="text-center text-lg-start">
                <a href="/contact" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Values</h2>
          <p>Our Core Values at CareerHubNG</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Continuous Learning</h3>
              <p>We challenge the “we've always done it this way” mentality that may strangle change or development</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>On Time Delivery</h3>
              <p>We deliver services within the period promised clients and customers without compromising on quality</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Reputable Brand</h3>
              <p> We maintain high standards and offer quality services always. You can always count on us!
                
                </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="110" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="137" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="754" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section  id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>What We Do</h2>
          <p>Here are some of our offers</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Professional CV & Cover Letter
                    Writing</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Job Curation</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Executive Bio / LinkedIn Proﬁle
                    Optimization</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Job Advertisement</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Employability Training</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Career Chat</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Who can use our services?</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link checka active" data-bs-toggle="pill" href="#tab1">Job Seekers</a>
              </li>
              <li>
                <a class="nav-link checka " data-bs-toggle="pill" href="#tab2">Recruiters</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>From several job applications to candidates 
                  tons of rejection mails, we understand how difﬁcult it
                  seems to get a great job. But don't worry, that's why
                  CareerHub is here for you.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Simplyfying your job search</h4>
                </div>
                <p>We're keen on simplifying your job search through our
                  services including CV review, career chat and 
                  monthly employability training.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>We help you land your dream job!</h4>
                </div>
                <p>We help you locate
                  things you might be doing wrong and ensure you get
                  your desired job.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>With lots of workload on your table, getting qualiﬁed candidates can be a daunting task if not properly
                  managed.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>We take the stress off you as a recruiter</h4>
                </div>
                <p>At CareerHub, we simplify this process by
                   taking the stress off you through our various packages
                  that suit all your needs.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Tailored-ads to meet your needs</h4>
                </div>
                <p>We tailor your ads to reach
                  speciﬁc candidates, hence you don’t get to read
                  applications from random jobseekers that will not
                  make a great ﬁt at your organization.</p>
              </div><!-- End Tab 2 Content -->


            </div>

          </div>

          <div class="col-lg-6">
            <img src="assets/img/features-2.png" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Services</h2>
          <p>Some of the services we offer</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Personal Branding</h3>
              <p>Our process involves learning about your core skills, achievements, qualifications and aspirations. We will subsequently optimise your profile which will result in increased views, more interview invites, and more job opportunities. </p>
              <a href="/services" class="read-more"><span>Lean More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Recruitment Process Outsourcing​</h3>
              <p>We provide a unique, flexible and unbeatable service for employers. We work with employers to ensure a better-quality field of work ready entry-level graduates and mid-level professionals.
               </p>
              <a href="/contact" class="read-more"><span>Contact Us</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Digital Communications</h3>
              <p>We optimise the effectiveness of communicating with early and mid-level professionals by bridging the gap between you and this target audience.
                </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Careerhub has really impacted me in so many ways. Through careerhub, I've been able to land my dream job and develop my skills in my career field.
                </p>
                <div >
                  <h3>Ife Oladapo</h3>
                
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  At first, I was doubtful of careerhub when I first came across them but after a leap of faith, I can boldly say that this is the best thing that has happened to me careerwise.
                </p>
                <div >
                  
                  <h3>Tinuke Precious</h3>
                
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  I finally got my dream job after several years of sending out CVs. Careerhub's CV review helped boost my visibilty. I was astonished with the way offers kept on coming
                </p>
                <div>
                  
                  <h3>Davis uche</h3>
                  
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Having Careerhub as our recruitment team has made finding the right talent for the job much easier. We are glad to have them on our team.
                </p>
                <div >
                  
                  <h3>Temitope Oladele</h3>
                  
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                All I can say is if you ever need to boost your career visibilty or find a better job, maybe personal career coaching, you can always rely on Careerhub to offer you the best services.
                </p>
                <div >
                  
                  <h3>John Larry</h3>
                  
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->
    

    <!-- contact us section -->

    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">
  
        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>
  
        <div class="row gy-4">
  
          <div class="col-lg-6">
  
            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Mainland,<br>Lagos State, Nigeria</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-instagram"></i>
                  <h3>Our Socials</h3>
                  <p>Instagram: careerhubng<br>Linkedin: careerhubng</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>careerhubngr@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>
  
          </div>
  
          <div class="col-lg-6">
              <form action="/send" method="POST" class="php-email-form" >
              <div class="row gy-4">
  
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control contact-form-text" placeholder="Your Name" required>
                </div>
  
                <div class="col-md-6 ">
                  <input type="email" class="form-control contact-form-text" name="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-6 ">
                  <input type="text" class="form-control contact-form-text" name="phone" placeholder="Your Phone Number" >
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control contact-form-text" name="subject" placeholder="Subject" required>
                </div>
  
                <div class="col-md-12">
                  <textarea id= "message" class="form-control contact-form-message" name="message" rows="6" placeholder="Message" required></textarea>
                </div>
  
                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="sent-message"><Your message has been sent. Thank you!></div>
  
                  <button type="submit"class="contact-form-btn submit contact-form"   value="send">Send Message</button>
                </div>
  
              </div>
            </form>
  
          </div>
  
        </div>
  
      </div>
  
    </section><!-- End Contact Section -->
  
  </main><!-- End #main -->
    




<script src="assets/js/carousel.js"></script>
<%-include("./partials/footer.ejs") -%>