<%-include("./partials/header.ejs") -%>

<link href="assets/css/error.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css" />
<body>

	<div style="margin-top: 20%" id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h2 style="margin-top: 20%;">Your Message has been Sent</h2><br>
			</div>
			<div>
				<img style="height: 200px; width: 400px;" src="assets/img/features-2.png" class="img-fluid" alt="">
			</div>
			<h2>Thank you for contacting us. We will get back to you shortly.</h2>
			<a href="/home"  style="margin-bottom: 2%" class="home-btn">Go Home</a>
			<div style="margin-bottom: 40%" class="notfound-social">
				<a href="mailto:careerhubngr@gmail.com" class="google"><i class="bi bi-google"></i></a>
				<a href="https://docs.google.com/forms/d/174ewaqbOIfrosug1X_Kp6_HBtR-LPSxgwFqdJTioAlI/edit?pli=1&edit_requested=true&pli=1" class="telegram"><i class="bi bi-telegram"></i></a>
				<a href="https://instagram.com/careerhubng?utm_medium=copy_link" class="instagram"><i class="bi bi-instagram"></i></a>
				<a href="https://www.linkedin.com/company/careerhubng" class="linkedin"><i class="bi bi-linkedin"></i></a>
			</div>
		</div>
	</div>

</body>


<%-include("./partials/footer.ejs") -%>