
<%-include("./partials/header.ejs") -%>

 <!-- ======= Services Section ======= -->
 <section style="margin-top: 7%;" id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Services</h2>
        <p>Some of the services we offer</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Personal Branding</h3>
            <p>Our process involves learning about your core skills, achievements, qualifications and aspirations. We will subsequently optimise your profile which will result in increased views, more interview invites, and more job opportunities. </p>
            <a href="/services" class="read-more"><span>Lean More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>Recruitment Process Outsourcing​</h3>
            <p>We provide a unique, flexible and unbeatable service for employers. We work with employers to ensure a better-quality field of work ready entry-level graduates and mid-level professionals.
             </p>
            <a href="/contact" class="read-more"><span>Contact Us</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Digital Communications</h3>
            <p>We optimise the effectiveness of communicating with early and mid-level professionals by bridging the gap between you and this target audience.
              </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>Career Chat</h3>
            <p>Do you have questions about your job search journey? You need a professional to provide guidance
              and clarity to help you land great jobs within a short time. Click here to check our affordable prices.</p>
            <a href="/pricing" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>Employability Training</h3>
            <p>Information, they say, is power. When you have the right information, it becomes easier to make great
              moves and drop the wrong career decisions.</p>
            <a href="/services" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Career Coaching</h3>
            <p>We coach, mentor and train and equip job seekers with the necessary employability and transferability skills needed to successfully navigate the labour market or set up their own small business. </p>
            <a href="/services" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->


<%-include("./partials/footer.ejs") -%>