<%-include("./partials/header.ejs") -%>
<!-- ======= Testimonials Section ======= -->
<section style="margin-top: 7%;" id="testimonials" class="testimonials">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Testimonials</h2>
        <p>What they are saying about us</p>
      </header>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Careerhub has really impacted me in so many ways. Through careerhub, I've been able to land my dream job and develop my skills in my career field.
              </p>
              <div >
                <h3>Ife Oladapo</h3>
              
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                At first, I was doubtful of careerhub when I first came across them but after a leap of faith, I can boldly say that this is the best thing that has happened to me careerwise.
              </p>
              <div >
                
                <h3>Tinuke Precious</h3>
              
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                I finally got my dream job after several years of sending out CVs. Careerhub's CV review helped boost my visibilty. I was astonished with the way offers kept on coming
              </p>
              <div>
                
                <h3>Davis uche</h3>
                
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Having Careerhub as our recruitment team has made finding the right talent for the job much easier. We are glad to have them on our team.
              </p>
              <div >
                
                <h3>Temitope Oladele</h3>
                
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
              All I can say is if you ever need to boost your career visibilty or find a better job, maybe personal career coaching, you can always rely on Careerhub to offer you the best services.
              </p>
              <div >
                
                <h3>John Larry</h3>
                
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->
<%-include("./partials/footer.ejs") -%>